.chat-room-card {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f5f5f5; /* Gris pastel pour le fond */
  }
  
  .message-list {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 15px;
  }
  
  mat-list-item {
    display: flex;
    margin: 5px 0;
    min-height: 0;
    height: auto; /* Permettre à mat-list-item de s'adapter à la hauteur du contenu */
  }
  
  .current-user {
    justify-content: flex-end;
    text-align: right;
    background-color: #c3e6cb; /* Vert pastel pour l'utilisateur actuel */
    padding: 8px;
    border-radius: 10px;
    max-width: 70%; 
    height: fit-content;/* Garder la largeur maximale pour éviter que le message prenne toute la largeur */
    margin-left: auto;
    word-break: break-word; /* Permettre au texte de se couper pour passer à la ligne */
  }
  
  .other-user {
    height: fit-content;
    justify-content: flex-start;
    text-align: left;
    padding: 8px;
    border-radius: 10px;
    max-width: 70%; /* Garder la largeur maximale pour éviter que le message prenne toute la largeur */
    margin-right: auto;
    word-break: break-word; /* Permettre au texte de se couper pour passer à la ligne */
  }
  
  .message-content {
    display: flex;
    flex-direction: column;
    width: 100%; /* S'assurer que message-content prend toute la largeur disponible */
  }
  
  .sender {
    font-weight: bold;
    font-size: 0.9em;
    color: #666;
  }
  
  .content {
    margin-top: 2px;
    white-space: pre-wrap; /* Permettre au texte de s'étendre sur plusieurs lignes et respecter les retours à la ligne */
    word-break: break-word; /* S'assurer que les mots longs sont coupés pour passer à la ligne */
    overflow-wrap: break-word; /* Alternative à word-break pour une compatibilité maximale */
  }
  
  .file-content {
    margin-top: 5px;
  }
  
  .media {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .file-link {
    color: #1976d2;
    text-decoration: none;
  }
  
  mat-form-field {
    width: 70%;
    margin-right: 10px;
  }
  
  button {
    margin-right: 5px;
  }
  
  .emoji-picker {
    position: absolute;
    bottom: 60px; /* Positionne le picker juste au-dessus des boutons */
    right: 10px;
    z-index: 1000; /* S'assure que le picker est au-dessus des autres éléments */
    background-color: #f5f5f5; /* Gris pastel pour le fond */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
 .emoji-mart {
    --emoji-mart-background-color: #d4e4f5; /* Bleu pastel pour le fond du picker */
    --emoji-mart-header-color: #4a5568; /* Gris foncé pour les en-têtes */
    --emoji-mart-emoji-hover-background: #a3bffa; /* Bleu pastel plus foncé au survol */
  }